// --- PALETA DE CORES ---
$primary-blue: #2563eb;       // blue-600
$primary-blue-hover: #1d4ed8; // blue-700
$sky-100: #e0f2fe;            // Azul clarinho para o hover e link ativo

$gray-50: #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af; // Adicionado para o Revenue Chart
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;           // Cor do texto do link desativado
$gray-900: #111827; 
$blue-300: #93c5fd; // Adicionado para as barras do gráfico
          // Cor forte (ex: Sign Out)

// --- FONTES ---
$font-sans: 'Inter', sans-serif;
$font-serif: 'Lusitana', serif;

// --- BREAKPOINTS ---
$breakpoint-md: 768px;
$breakpoint-sm: 640px; // Adicionado para telas menores
$breakpoint-md: 768px;



